::placeholder {
    color: rgb(159, 135, 135);
    font-size: 14px;
}

@media screen and (min-width: 768px) {
    .contact-hero h1{
        font-size: 3.5rem;
    }
}
.row {
    margin-inline: 0 !important;
    padding-inline: 0 !important;
}
.form-row {
    max-width: 600px;
}
.hero-bg {
    background: linear-gradient(180deg, rgba(255, 255, 255, .5), rgb(210, 222, 235, .7), rgba(59, 88, 150, .7) 75%, rgb(59, 88, 150)), url(/asset/images/contactus2.png); 
    padding-block: 80px;
    background-repeat: no-repeat;
    background-position: center;
}
@media screen and (min-width: 768px) {
   .contact-border {
        border-right: 1px solid grey;
   }
}

.contact-address i {
    color: #3b5998;
}