
.card {
    transition: .6s;
    border-color: #9ac7f4;
    overflow: hidden;
}

.card:after {
    content: "";
    position: absolute;
    top: 150%;
    left: -200px;
    width: 120%;
    transform: rotate(50deg);
    background-color: #fff;
    height: 18px;
    filter: blur(30px);
    opacity: 0.5;
    transition: 1s;
}
.card:hover {
    /* background-color: transparent; */
    transform: translateY(-8px);
    border-color: #01a2ff;
}
.card:hover:after {
    width: 225%;
    top: -100%;
}

/* .card:hover img {
    border-bottom: 1px solid #9ac7f4;
} */
