* {
    box-sizing: border-box;
}
/* --nav-- */
.bg-sea-blue {
    background-color: #5192B2;
}

.btn-gradient {
    background: rgb(13,110,253);
    background: linear-gradient(45deg, rgba(121, 186, 252, 1) 0%, rgba(121, 186, 252,1) 3%, rgba(126,251,243,1) 100%);
}

  /* --nav end-- */

/* hero */
.scaler-bg {
    background-image: url(/asset/images/europa.svg);
}

.hero__heading {
    line-height: 1.5;
    font-size: 55px;
    font-weight: 700;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.hero__image {
    width: 550px;
}

@media screen and (max-width: 768px) {
    .hero__image {
        width: 500px;
    }
}

@media screen and (max-width:576px){
    .hero__heading {
        font-size: 35px;
    }
    .hero__image {
        width: 300px;
    }

    /* main */
    .main__intro--heading {
        font-size: 35px;
        
    }
}
.hero__text {
    line-height: 2;
}

/* main  - main__intro */
.row {
    padding-inline: 0;
}

.main__intro {
    background: linear-gradient(in lch, rgba(0,0,0,0.75), rgba(0,0,0,0.7)), url(/asset/images/section\ background.webp);
    background-image: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.main__intro--heading {
    font-weight: 700;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.main__intro--subheading {
    align-content: center;
}

.main__intro--text2 {
    line-height: 3;
}

/* counter section */

.counter-section {
    /* background-color: #53b7f2; */
    background-color: #fff;
    padding: 50px 0;
    text-align: center;
}

.counter-container {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.counter-box {
    background-color: #72c6f5;
    padding: 20px 40px;
    border-radius: 10px;
}

@media screen and (max-width: 576px) {
    .counter-container {
        flex-direction: column;
    }
}

.counter {
    font-size: 2.5rem;
    font-weight: 400;
    color: #fff;
}

.counter-text {
    margin-top: 10px;
    color: #fff;
    font-size: 1.2rem;
}