* {
    box-sizing: border-box;
    margin: 0;
}
/* --nav-- */
.bg-sea-blue {
    background-color: #5192B2;
}

.btn-gradient {
    background: rgb(13,110,253);
    background: linear-gradient(45deg, rgba(121, 186, 252, 1) 0%, rgba(121, 186, 252,1) 3%, rgba(126,251,243,1) 100%);
}

  /* --nav end-- */

/* hero */
.scaler-bg {
    background-image: url(/asset/images/europa.svg);
}

.hero__heading {
    line-height: 1.5;
    font-size: 55px;
    font-weight: 700;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.hero__image {
    width: 550px;
}

@media screen and (max-width: 768px) {
    .hero__image {
        width: 500px;
    }
}

@media screen and (max-width:576px){
    .hero__heading {
        font-size: 35px;
    }
    .hero__image {
        width: 300px;
    }

    /* main */
    .main__intro--heading {
        font-size: 35px;
        
    }
}
.hero__text {
    line-height: 2;
}

/* main  - main__intro */
.row {
    padding-inline: 0;
}

.main__intro {
    background: linear-gradient(in lch, rgba(0,0,0,0.75), rgba(0,0,0,0.7)), url(/asset/images/section\ background.webp);
    background-image: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.main__intro--heading {
    font-weight: 700;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.main__intro--subheading {
    align-content: center;
}

.main__intro--text2 {
    line-height: 3;
}

/* counter section */

.counter-section {
    /* background-color: #53b7f2; */
    /* background-color: #fff; */
    padding: 50px 0;
    text-align: center;
}

.counter-container {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.counter-box {
    background-color: #72c6f5;
    padding: 20px 40px;
    border-radius: 10px;
}

@media screen and (max-width: 768px) {
    .counter-container {
        flex-direction: column;
    }
}

.counter {
    font-size: 2.5rem;
    font-weight: 400;
    color: #fff;
}

.counter-text {
    margin-top: 10px;
    color: #fff;
    font-size: 1.2rem;
}

/* service-teaser owl-carousel */

.service-teaser-responsive {
    margin: 0;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: flex;
    align-items: center;
    min-height: 70vh;
}

.slider{width: 100%;}
.slider input{display: none;}
.teasers {
    display:flex;
    align-items: center;
    justify-content: center;
    position: relative;
    min-height: 350px;
    perspective: 1000px;
    overflow: hidden;
}

.teasers .item {
    width: 300px;
    padding: 30px;
    border-radius: 5px;
    background-color: #21262d;
    position: absolute;
    border: 3px solid white;
    top: 0;
    box-sizing: border-box;
    text-align: center;
    transition: transform 0.4s;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    user-select: none;
    cursor: pointer;
}

.teasers .item h1{
    color: rgb(121, 186, 252);
    -webkit-text-stroke-width: .15px;
    -webkit-text-stroke-color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: bold;
}

.dots {
    display: flex;
    justify-content: center;
    align-items: center;
}

.dots label {
    height: 5px;
    width: 5px;
    border-radius: 50%;
    cursor: pointer;
    background-color: #413b52;
    margin: 7px;
    transition-duration: 0.2s;
}


#t-1:checked ~ .dots label[for="t-1"],
#t-2:checked ~ .dots label[for="t-2"],
#t-3:checked ~ .dots label[for="t-3"],
#t-4:checked ~ .dots label[for="t-4"],
#t-5:checked ~ .dots label[for="t-5"]{
    transform: scale(2);
    background-color: #fff;
    box-shadow: 0px 0px 0px 3px #dddddd24;
}

#t-1:checked ~ .dots label[for="t-2"],
#t-2:checked ~ .dots label[for="t-1"],
#t-2:checked ~ .dots label[for="t-3"],
#t-3:checked ~ .dots label[for="t-2"],
#t-3:checked ~ .dots label[for="t-4"],
#t-4:checked ~ .dots label[for="t-3"],
#t-4:checked ~ .dots label[for="t-5"],
#t-5:checked ~ .dots label[for="t-4"]{
    transform: scale(1.5);
}

#t-1:checked ~ .teasers label[for="t-3"],
#t-2:checked ~ .teasers label[for="t-4"],
#t-3:checked ~ .teasers label[for="t-5"],
#t-4:checked ~ .teasers label[for="t-1"],
#t-5:checked ~ .teasers label[for="t-2"]{
    transform: translate3d(600px, 0, -180px) rotateY(-25deg);
    z-index: 2;
}

#t-1:checked ~ .teasers label[for="t-2"],
#t-2:checked ~ .teasers label[for="t-3"],
#t-3:checked ~ .teasers label[for="t-4"],
#t-4:checked ~ .teasers label[for="t-5"],
#t-5:checked ~ .teasers label[for="t-1"]{
    transform: translate3d(300px, 0, -90px) rotateY(-15deg);
    z-index: 3;
}

#t-2:checked ~ .teasers label[for="t-1"],
#t-3:checked ~ .teasers label[for="t-2"],
#t-4:checked ~ .teasers label[for="t-3"],
#t-5:checked ~ .teasers label[for="t-4"],
#t-1:checked ~ .teasers label[for="t-5"]{
    transform: translate3d(-300px, 0, -90px) rotateY(15deg);
    z-index: 3;
}

#t-3:checked ~ .teasers label[for="t-1"],
#t-4:checked ~ .teasers label[for="t-2"],
#t-5:checked ~ .teasers label[for="t-3"],
#t-2:checked ~ .teasers label[for="t-5"],
#t-1:checked ~ .teasers label[for="t-4"]{
    transform: translate3d(-600px, 0, -180px) rotateY(25deg);
}

#t-1:checked ~ .teasers label[for="t-1"],
#t-2:checked ~ .teasers label[for="t-2"],
#t-3:checked ~ .teasers label[for="t-3"],
#t-4:checked ~ .teasers label[for="t-4"],
#t-5:checked ~ .teasers label[for="t-4"],
#t-5:checked ~ .teasers label[for="t-5"]{
    z-index: 4;
}
/* carousel slider */



.carousel-slider {
    background: #79bafc;
    /* background: linear-gradient(-100deg, white 50%, #79bafc 50%); */
    /* height: 70vh; */
}

.img-text {
    width: 100%;
    height: 300px;
    display: block;
    text-align: center;
    padding: 40% 5%;
    background: #262626;
    color: #fff;
    border-radius: 15px;
}

.img-text h2 {
    font-size: 25px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.img-text p {
    font-size: 14px;
}

.single-box {
    position: relative;
    margin-bottom: 30px;
}
.img-area {
    position: absolute;
    width: 100px;
    height: 100px;
    border: 5px solid #fff;
    overflow: hidden;
    top: 15px;
    left: 125px;
    border-radius: 50%;
}
.img-area img {
    width: 100%;
}

.carousel-indicators {
    left: 0;
    top: auto;
    bottom: -70px;
}

.carousel-indicators li {
    background: #000;
    border-radius: 50%;
    width: 15px;
    height: 15px;
}
.carousel-indicators .active {
    background-color: #fff;
}


/* footer */
.bg-opacity-85 {
    background-color: rgb(28, 28, 28);
}
ul.socials {
    display: flex;
}

ul.socials li:nth-child(2) {
    margin-inline: 20px;
}

.quick-link a {
    text-decoration: none;
    color: white;
}
ul {
    margin: 0 !important;
    padding: 0 !important;
}
li {
    list-style-type: none;
}